[user]
	name = thebinary
	email = binary4bytes@gmail.com
[core]
	excludesfile = ~/.config/git/gitignore_global
[alias]
	s = status --short --branch
	d = diff
	ds = diff --shortstat
	bls = branch --list --all
	cp = cherry-pick
	sh = show --oneline
	ls = log --oneline
	lr = log --oneline --raw
	lg = log --oneline --graph
	stls = stash list
	raw = log --raw
	graph = log --graph
	rem = remote -v
	h = help
